<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="style.css">
</head>
<!-- <h1>First Electron App</h1> -->

<body>

    <!-- #menu.menu-container+#menu-options.menu-options+(#formula-container>(#address-input+#formula-input))+#cell-conatiner.cell-conatiner+#sheets.sheets -->
    <div id="menu-container" class="menu-container">
        <div id="File" class="menu">File</div>
        <div id="Home" class="menu">Home</div>
    </div>

    <div id="menu-option-container" class="menu-option-container">
        <div id="File-menu-options" class="menu-options">
            <div id="new">New</div>
            <div id="open">Open</div>
            <div id="save">Save</div>
        </div>
        <div id="Home-menu-options" class="menu-options">
            <div id="formatting-col">
                <div class="font-row">
                    <select id="font-family">

                        <option value="cursive">Cursive</option>
                        <option value="arial">Arial</option>
                        <option value="sans-serif">Sans-Serif</option>
                        <option value="monospace">monospace</option>
                        <option value="serif">serif</option>
                    </select>
                    <select id="font-size">
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="20">20</option>
                        <option value="32">32</option>
                    </select>
                </div>
                <div class="style-row">
                    <button id="bold">B</button>
                    <button id="underline">U</button>
                    <button id="italic">I</button>
                    <input type="color" id="b-color">
                    <input type="color" id="font-color">
                </div>
            </div>
            <div id="align-col">
                <button id="left">L</button>
                <button id="center">C</button>
                <button id="right">R</button>
            </div>
        </div>
    </div>
    <div id="formula-container" class="formula-container">
        <input type="text" id="address-input" value="A1">
        <input type="text" id="formula-input">
    </div>
    <div id="cell-container" class="cell-container">
        <div id="tl-cell" class="tl-cell"></div>
        <div id="top-row" class="top-row">
            <%for(let i=0;i<cols;i++){%>
            <div class="cell">
                <%=String.fromCharCode(i+65)%>
            </div>
            <%}%>
        </div>
        <div id="left-col" class="left-col">
            <%for(let j=0;j<rows;j++){%>
            <div class="cell">
                <%=j+1%>
            </div>
            <%}%>
        </div>
        <div id="grid" class="grid">
            <%for(let i=0;i<rows;i++){%>
            <div class="row">
                <%for(let j=0;j<cols;j++){%>
                <div class="cell" contenteditable="true" rid=<%=i%> cid=<%=j%>>cell</div>
                <%}%>
        </div>
        <%}%>
            </div>
        </div>
        <div id="sheets" class="sheets">Sheets</div>
        <script src="script.js"></script>
</body>

</html>