<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="style.css">
</head>
<!-- .menu+.menu-options+(.formula-bar>(input[type="text"]*2))+.cell-container+.sheets -->

<body>
    <div class="menu">Menu</div>
    <div class="menu-options">Menu Options</div>
    <div class="formula-bar">
        Formula Bar
        <input type="text" id="address-container">
        <input type="text"></div>
    <div class="cell-container">
        <div id="top-left-cell" class="top-left-cell">
        </div>
        <div class="top-row" id=top-row>
            <%for(let j=0;j<cols;j++){%>
            <div class="cell">
                <%=String.fromCharCode(j+65)%>
            </div>
            <%}%>
            </div>
            <div id="left-col" class="left-col">
                <%for(let i=1;i<=rows;i++){%>
            <div class="cell">
                <%=i%>
            </div>
            <%}%>
            </div>
            <div class="grid" id="grid">
            <%for(let i=0;i<=rows;i++){%>
            <div class="row">
                <%for(let j=0;j<cols;j++){%>
                <div class="cell" contenteditable="true" ri=<%=i%> ci=<%=j%>>
                </div>
                <%}%> </div>
                    <%}%>
            </div>
        </div>
        <div class="sheets">
        </div>
<script src="index.js"></script>
</body>

</html>